*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
secure-ksp.gradle
secure.gradle
secure-android.gradle
/projectFilesBackup/.idea/
/repository/tk/mallumo/
/test/android/build/
/test/common/build/
/test/desktop/build/
/test/single-android/release/
/buildSrc/build/
/navigation/build/
/navigation-ksp/build/
/test/js/build/
/navigation-core/build/
/.kotlin/errors/
/.kotlin/metadata/
